<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e">

    <!-- common stuff -->
    <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro"/>

    <!-- ur5e -->
    <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro"/>

    <!-- arm -->
    <xacro:ur5e_robot prefix="" joint_limited="false"/>

    <link name="world"/>

    <joint name="world_joint" type="fixed">
        <parent link="world"/>
        <child link="test_box"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="test_box">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5 0.5 0.5"/>
            </geometry>
            <material name="red"/>
        </visual>

        <inertial>
            <mass value="1e-5"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
        </inertial>
    </link>


    <joint name="test_to_robot" type="fixed">
        <axis xyz="1 0 0"/>
        <origin xyz="0 0 0.25"/>
        <parent link="test_box"/>
        <child link="base_link"/>
    </joint>


</robot>